<%- include('header') %>

<h2>Editar Categoria: </h2>
<form method="POST">

    <label for="nome">Nome da Categoria:</label>

    <input value="<%- categorias.categoria %>" type="text" name="nome" style="margin: 15px 0px">
   
    <input type="submit" value="Cadastrar">
</form>


<%- include('footer') %>