<%- include('header') %>

<h2>Nova Categoria: </h2>
<form method="POST">
    <label for="nome">Nome da Categoria:</label>
    <input type="text" name="nome" style="margin: 15px 0px">

    <input type="submit" value="Cadastrar">
</form>


<%- include('footer') %>